Source: haskell-debian-mirror
Priority: optional
Section: devel
Maintainer: Jack Donaldson <jack.donaldson@example.org>
Build-Depends: debhelper (>= 4.0.0), haskell-devscripts (>=0.5.12), ghc6-prof (>= 6.6), libghc6-debian-dev (>= 2.19), libghc6-unixutils-prof (>= 1.10), libghc6-extra-prof (>= 1.11), libghc6-time-prof (>= 1.1), libghc6-network-prof, libghc6-help-prof, libghc6-help-dev, haskell-help-doc
Build-Depends-Indep: haddock, hugs (>= 98.200503.08), ghc6-doc (>= 6.8), libghc6-time-doc (>= 1.1.2), haskell-regex-posix-doc (>= 0.93), libghc6-network-doc (>= 2.1.0), haskell-extra-doc, haskell-debian-doc, haskell-unixutils-doc
Standards-Version: 3.7.2.0

Package: libghc6-debian-mirror-dev
Section: libdevel
Architecture: any
Depends: ${haskell:Depends}, ${shlibs:Depends}, libghc6-debian-dev (>= 2.19), libghc6-unixutils-dev (>= 1.10), libghc6-extra-dev (>= 1.11), libghc6-time-dev (>= 1.1), libghc6-network-dev, libghc6-help-dev
Description: A Haskell library that does something neat
 The library does something really cool you can not live without.
 .
 This package contains the libraries compiled for GHC 6.

Package: haskell-debian-mirror-doc
Section: doc
Architecture: all
Depends: ghc6-doc (>= 6.8), libghc6-time-doc (>= 1.1.2), haskell-regex-posix-doc (>= 0.93), libghc6-network-doc (>= 2.1.0), haskell-extra-doc, haskell-debian-doc, haskell-unixutils-doc, haskell-help-doc
Description: Documentation for a Haskell library
 A haskell library that totally rules.

Package: debian-mirror
Section: doc
Architecture: any
Depends: ${shlibs:Depends}
Description: A tool for pushing source to apt2
 Could be made more general, but is hard coded for now.
