Source: haskell-debian-mirror
Priority: optional
Section: devel
Maintainer: Jeremy Shaw <jeremy@seereason.com>
Build-Depends: debhelper (>= 4.0.0),
               haskell-devscripts,
               haddock,
               hugs (>= 98.200503.08),
               ghc6-doc (>= 6.8),
               ghc6-prof (>= 6.6),
               libghc6-debian-prof,
               libghc6-debian-doc,
               libghc6-unixutils-prof (>= 1.10),
               libghc6-unixutils-doc,
               libghc6-extra-prof (>= 1.11),
               libghc6-extra-doc,
               libghc6-help-prof,
               libghc6-help-doc,
               libghc6-time-prof,
               libghc6-time-doc,
               libghc6-network-prof,
               libghc6-network-doc,
               libghc6-regex-posix-prof,
               haskell-regex-posix-doc
Standards-Version: 3.7.2.0

Package: libghc6-debian-mirror-dev
Architecture: any
Section: libdevel
Depends: ${haskell:Depends}
Description: A library and application for mirroring Debian compatible repositories
  .
  This package contains the normal library files.

Package: libghc6-debian-mirror-prof
Architecture: any
Section: libdevel
Depends: ${haskell:Depends}
Description: A library and application for mirroring Debian compatible repositories
  .
  This package contains the normal library files.

Package: libhugs-debian-mirror
Section: libdevel
Architecture: all
Depends: ${haskell:Depends}
Description: A Haskell library that does something neat
 The library does something really cool you can not live without.
 .
 This package contains the libraries compiled for Hugs.

Package: libghc6-debian-mirror-doc
Section: doc
Architecture: any
Description: Documentation for a Haskell library
 A haskell library that totally rules.

Package: debian-mirror
Architecture: any
Section: misc
Depends: ${shlibs:Depends}, ${haskell:Depends}
Description:  An executable built with the debian-mirror library.
