Source: haskell-debian-mirror
Priority: optional
Section: devel
Maintainer: Jeremy Shaw <jeremy@seereason.com>
Build-Depends: debhelper (>= 4.0.0),
               haskell-devscripts, hscolour,
               haddock,
               hugs (>= 98.200503.08),
               ghc-doc (>= 6.8),
               ghc-prof (>= 6.6),
               libghc-debian-prof,
               libghc-debian-doc,
               libghc-unixutils-prof (>= 1.10),
               libghc-unixutils-doc,
               libghc-extra-prof (>= 1.11),
               libghc-extra-doc,
               libghc-help-prof,
               libghc-help-doc,
               libghc-network-prof,
               libghc-network-doc,
               libghc-regex-posix-prof,
               haskell-regex-posix-doc
Standards-Version: 3.7.2.0

Package: libghc-debian-mirror-dev
Architecture: any
Section: libdevel
Depends: ${haskell:Depends}
Description: A library and application for mirroring Debian compatible repositories
  .
  This package contains the normal library files.

Package: libghc-debian-mirror-prof
Architecture: any
Section: libdevel
Depends: ${haskell:Depends}
Description: A library and application for mirroring Debian compatible repositories
  .
  This package contains the normal library files.

Package: libghc-debian-mirror-doc
Section: doc
Architecture: any
Description: Documentation for a Haskell library
 A haskell library that totally rules.

Package: debian-mirror
Architecture: any
Section: misc
Depends: ${shlibs:Depends}, ${haskell:Depends}
Description:  An executable built with the debian-mirror library.
